.full-width {
  width: 90vw;
}
mat-card {
  color: rgb(57, 72, 60);
  width: 90vw;
  max-height: 82vh;
  overflow: auto;
  transition: max-height 0.5s;
}

.reduced-height {
  max-height: 75vh;
}

.add_phones_button {
  background-color: rgba(57, 72, 60, 0.555);
}

.delete_phone_number_icon {
  color: rgb(148, 7, 7);
}
