@let isBusy = clientStore.isBusy();

<mat-card
  class="mx-3 p-3"
  [ngClass]="{
    'reduced-height': clientStore.isClientSelected() && !withoutForwardButton,
  }"
>
  <h3 class="pb-2">
    {{
      clientStore.isClientSelected()
        ? ("ADD_CLIENT.TITLE_UPDATE" | translate)
        : ("ADD_CLIENT.TITLE" | translate)
    }}
  </h3>

  <form [formGroup]="clientForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "ADD_CLIENT.NAME" | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "ADD_CLIENT.TYPE" | translate }}</mat-label>
      <mat-select formControlName="type">
        @for (type of clientTypes; track type) {
          <mat-option [value]="type">
            {{ type === 1 ? "PF" : "PJ" }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Phone Numbers Section -->
    <div formArrayName="phones">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <h4 class="mb-0">{{ "ADD_CLIENT.PHONES" | translate }}</h4>
        <button
          mat-mini-fab
          class="add_phones_button"
          type="button"
          (click)="addPhoneField()"
          [attr.aria-label]="'ADD_CLIENT.ADD_PHONE' | translate"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      @for (
        phoneControl of phones.controls;
        track trackByPhoneId($index, phoneControl)
      ) {
        <div [formGroupName]="$index">
          <div class="d-flex gap-2 align-items-center">
            <mat-form-field appearance="outline" style="flex: 3">
              <mat-label>{{ "ADD_CLIENT.PHONE_LABEL" | translate }}</mat-label>
              <input
                matInput
                formControlName="label"
                placeholder="ex: office..."
              />
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 5">
              <mat-label>{{ "ADD_CLIENT.PHONE" | translate }}</mat-label>
              <input matInput formControlName="phone" type="tel" />
            </mat-form-field>

            <button
              mat-icon-button
              color="warn"
              type="button"
              (click)="removePhoneField($index)"
              [disabled]="phones.length === 1"
              [attr.aria-label]="'ADD_CLIENT.REMOVE_PHONE' | translate"
              style="margin-bottom: 1.34375em"
            >
              <mat-icon class="delete_phone_number_icon">delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "ADD_CLIENT.ADDRESS" | translate }}</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <mat-checkbox
      [checked]="isForeignClient()"
      (change)="isForeignClientChange()"
      >{{ "ADD_CLIENT.FOTRIGN_CLIENT" | translate }}</mat-checkbox
    >

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>
        {{ "ADD_CLIENT.CODE" | translate }}
      </mat-label>
      <input matInput type="tel" formControlName="code" />

      @if (clientForm.get("code")?.hasError("duplicateCode")) {
        <mat-error>
          {{ "ADD_CLIENT.ALREADY_EXISTING" | translate }}
        </mat-error>
      }
    </mat-form-field>

    @if (clientForm.get("code")?.hasError("duplicateCode")) {
      <div class="w-100 text-center">
        <button
          @enterAnimation
          mat-flat-button
          class="mb-3"
          (click)="
            clientStore.setClientId(
              clientForm.get('code')?.getError('duplicateCode')?.clientId
            );
            this.clientForm.get('code')?.updateValueAndValidity()
          "
        >
          <i>{{
            clientForm.get("code")?.getError("duplicateCode")?.clientName
          }}</i>
        </button>
      </div>
    }

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "ADD_CLIENT.DETAILS" | translate }}</mat-label>
      <input matInput formControlName="other_details" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="button"
      class="p-2 add-client-button w-100"
      (click)="clientStore.isClientSelected() ? updateClient() : addClient()"
      [disabled]="clientForm.invalid || isBusy || !clientForm.dirty"
    >
      @if (isBusy) {
        <div
          class="spinner-border spinner-border-sm text-primary"
          role="status"
        >
          <span class="sr-only"></span>
        </div>
      }
      {{
        clientStore.isClientSelected()
          ? ("ADD_CLIENT.UPDATE_BUTTON" | translate)
          : ("ADD_CLIENT.ADD_BUTTON" | translate)
      }}
    </button>
  </form>
</mat-card>

@if (clientStore.isClientSelected() && !withoutForwardButton) {
  <div @enterAnimation class="d-flex justify-content-center">
    <button
      class="mt-2 full-width"
      (click)="toOfferOverview()"
      mat-raised-button
    >
      {{ "ADD_CLIENT.FORWARD_BUTTON" | translate }}
    </button>
  </div>
}
