::ng-deep {
  .mat-content {
    height: 100%;
    overflow: auto !important;
  }

  .emty-panel {
    .mat-content {
      display: flex;
      justify-content: center;
    }
  }
}

.delete-button {
  mat-icon {
    color: rgba(95, 1, 1, 1) !important;
  }
}

.delete-all-button {
  mat-icon {
    color: rgba(95, 1, 1, 1) !important;
  }
  color: rgba(79, 0, 0) !important;
  height: 75% !important;
  background-color: transparent !important;
}

.forward-button {
  mat-icon {
    color: black !important;
  }
}

.limited-height {
  max-height: 40vh;
  overflow: auto;
}

.button-background {
  background-color: rgb(57, 72, 60);
  color: white !important;
}

.bg-extra-total {
  background-color: rgb(176, 176, 176);
}
