:host {
  width: 100vw !important;
  padding-left: 7vw;
  padding-right: 7vw;
  max-height: 82vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiline-text {
  white-space: pre-line;
}

.text-truncate {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-detail-item {
  padding: 2px 0;
  display: flex;
  align-items: center;
  width: fit-content;
}

.edit-order-popup-list {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-form-conteiner {
  background-color: rgb(57, 72, 60) !important;
  margin: -8px;
  padding: 8px;
}

::ng-deep {
  .comment-edit-input .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
