@if(order){
<div id="content" class="d-flex flex-column w-100 pb-3">
  <div class="d-flex align-items-center justify-content-between w-100 px-1">
    {{ order.client.name }} - {{ order.dateOrderPlaced | date : "yyyy.MM.dd" }}
    <div class="d-flex">
      <button
        class="d-flex align-items-center"
        mat-icon-button
        (click)="print()"
      >
        <mat-icon>print</mat-icon>
      </button>
      <button
        class="d-flex align-items-center"
        mat-icon-button
        (click)="closeDetailsComponent()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="bg-white text-dark rounded shadow p-3">
    <div class="d-flex justify-content-between w-100">
      <mat-checkbox [(ngModel)]="showPrice">{{
        "ORDER.DETAILS.SHOW_PRICE" | translate
      }}</mat-checkbox>
      @if(!justOffers && !order.dateOrderDelivered) {
      <mat-checkbox [(ngModel)]="editMode">{{
        "ORDER.DETAILS.EDIT_OFFER" | translate
      }}</mat-checkbox>
      }
    </div>
    @for (item of orderItems; let i = $index; let last = $last; track $index) {
    <div class="position-relative">
      <div
        class="d-flex align-items-center justify-content-evenly flex-wrap py-3"
        [ngClass]="{
          'border-1 border-bottom': !last,
          'pe-5': !order.dateOrderDelivered && !justOffers
        }"
      >
        <span class="text-nowrap">
          {{ item.product.name }} - <b>{{ item.category.name }}</b>
        </span>
        @if(item.packsPieces) {
        <span class="text-nowrap">
          {{ item.packsPieces }} ({{ item.quantity | number : "1.0-2" }}
          {{
            "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
              item.product.unit_id | translate
          }})
        </span>
        } @if(!item.packsPieces && item.product.unit_id === 3) {
        <span class="text-nowrap">
          {{ item.quantity }}
          {{
            "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.1" | translate
          }}
        </span>
        } @if(!item.packsPieces && item.product.unit_id !== 3) {
        <span class="text-nowrap">
          {{ item.quantity }}
          {{
            "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
              item.product.unit_id | translate
          }}
        </span>
        } @if(showPrice) {
        <span class="text-nowrap">{{ item.price | number : "1.0-2" }} RON</span>
        }
      </div>
      @if(!order.dateOrderDelivered && !justOffers && !editMode){
      <mat-checkbox
        [checked]="item.itemStatus"
        (change)="updateItemStatus(item.id, !item.itemStatus, i)"
        class="position-absolute top-50 end-0 translate-middle-y"
      />} @if(editMode) {
      <button
        class="position-absolute top-50 end-0 translate-middle-y"
        mat-button
        (click)="editItem(item, order)"
      >
        {{ "ORDER.DETAILS.EDIT_BUTTON" | translate }}
      </button>
      }
    </div>
    }
  </div>

  <div class="d-flex flex-column bg-white text-dark rounded shadow p-3 mt-3">
    <div class="client-detail-item">
      <b class="pe-1"> {{ order.client.type === 1 ? "PF " : "PJ " }} </b> :
      {{ order.client.code }}
    </div>
    <div
      (click)="callNumber(order.client.phone)"
      class="client-detail-item pt-1"
    >
      <i class="material-icons">phone_iphone</i>:
      {{ order.client.phone }}
    </div>
    @if(order.client.address !== order.client.delivery_address){
    <div
      (click)="openInMapsApp(order.client.delivery_address!)"
      class="client-detail-item pt-1"
    >
      <i class="material-icons">delivery_dining</i>
      : {{ order.client.delivery_address }}
    </div>
    <mat-divider class="mb-2" />
    <div class="client-detail-item">Address: {{ order.client.address }}</div>
    } @else {
    <div
      (click)="openInMapsApp(order.client.address!)"
      class="client-detail-item"
    >
      <i class="material-icons">delivery_dining</i>: {{ order.client.address }}
    </div>
    <mat-divider class="mb-2" />
    } @if(order.client.other_details){
    <div class="client-detail-item">{{ order.client.other_details }}</div>
    } @if(order.comment) {
    <div class="client-detail-item">
      {{ order.comment }}
    </div>
    }
  </div>
  @if(!order.dateOrderDelivered && !justOffers){
  <button class="mt-3" mat-flat-button (click)="confirmDelivered(order.id)">
    {{ "ORDER.DETAILS.DELIVERED_BUTTON" | translate }}
  </button>
  } @if(justOffers) {
  <button class="mt-3" mat-flat-button (click)="transformOfferToOrder(order)">
    {{ "ORDER.DETAILS.SIMPLE_TRANSFORM_BUTTON" | translate }}
  </button>

  <button
    class="mt-3"
    mat-raised-button
    (click)="transformExactOfferToOrder(order)"
  >
    {{ "ORDER.DETAILS.TOTAL_TRANSFORM_BUTTON" | translate }}
  </button>
  }
</div>
}

<ng-template #editOfferDialog>
  <h2 class="text-center" mat-dialog-title>
    {{ "ORDER.DETAILS.EDIT_DIALOG.TITLE" | translate }}
  </h2>

  <mat-dialog-content [formGroup]="editForm!" class="d-flex flex-column gap-3">
    {{
      "ORDER.DETAILS.EDIT_DIALOG.DESCRIPTION"
        | translate : { product: selectedOffer?.product?.name }
    }}
    <mat-form-field class="mt-2" appearance="outline">
      <mat-label>
        {{ "ORDER.DETAILS.EDIT_DIALOG.QUANTITY_INPUT" | translate }}
      </mat-label>
      <input matInput type="number" formControlName="quantity" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "ORDER.DETAILS.EDIT_DIALOG.CATEGORY_INPUT" | translate }}
      </mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat.value">
          {{ cat.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      {{ "ORDER.DETAILS.EDIT_DIALOG.CANCEL_BUTTON" | translate }}
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="editForm!.invalid"
      [mat-dialog-close]="true"
    >
      {{ "ORDER.DETAILS.EDIT_DIALOG.SAVE_BUTTON" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmTransformExactOfferDialog>
  <h2 class="text-center" mat-dialog-title>
    {{ "ORDER.DETAILS.TRANSFORM_POPUP" | translate }}
  </h2>
  <mat-dialog-content>
    <div class="multiline-text">
      {{ "ORDER.DETAILS.TOTAL_TRANSFORM_DESCRIPTION" | translate }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      {{ "ORDER.DETAILS.POPUP_CANCEL" | translate }}
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      {{ "ORDER.DETAILS.POPUP_CONFIRM" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmTransformOfferDialog>
  <h2 class="text-center" mat-dialog-title>
    {{ "ORDER.DETAILS.TRANSFORM_POPUP" | translate }}
  </h2>
  <mat-dialog-content>
    <div>
      {{ "ORDER.DETAILS.SIMPLE_TRANSFORM_DESCRIPTION" | translate }}
    </div>
    <mat-checkbox class="ms-3 mt-2" [(ngModel)]="deleteOffer">{{
      "ORDER.DETAILS.POPUP_CHECKBOX" | translate
    }}</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      {{ "ORDER.DETAILS.POPUP_CANCEL" | translate }}
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      {{ "ORDER.DETAILS.POPUP_CONFIRM" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmDeliveredDialog>
  <h2 class="text-center" mat-dialog-title>
    {{ "ORDER.DETAILS.POPUP_TITLE" | translate }}
  </h2>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      {{ "ORDER.DETAILS.POPUP_CANCEL" | translate }}
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      {{ "ORDER.DETAILS.POPUP_CONFIRM" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

@if(isPrinting) {
<div class="mt-2" id="print-section" class="print-area">
  @if (justOffers) {
  <h2>{{ "PRINT_POPUP.TITLE_OFFER" | translate }} #{{ order?.id }}</h2>
  } @else {
  <h2>{{ "PRINT_POPUP.TITLE_ORDER" | translate }} #{{ order?.id }}</h2>
  }
  <div class="d-flex pt-1 pb-2">
    <div class="pe-3">
      <strong>{{ "PRINT_POPUP.CLIENT" | translate }}</strong>
      {{ order?.client?.name }}
    </div>
    <div><strong>Tel:</strong> {{ order?.client?.phone }}</div>
  </div>
  <div class="d-flex py-2">
    <div class="pe-3">
      <strong> {{ order?.client?.type === 1 ? "PF " : "PJ " }} </strong> :
      {{ order?.client?.code }}
    </div>
    <div>
      <strong>{{ "PRINT_POPUP.ADDRESS" | translate }} </strong>
      {{ order?.client?.delivery_address }}
    </div>
  </div>
  <div class="pt-1 pt-0">
    <strong>{{ "PRINT_POPUP.DATE" | translate }}</strong>
    {{ order?.dateOrderPlaced | date }}
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ "PRINT_POPUP.TABLE.NAME" | translate }}</th>
        <th>{{ "PRINT_POPUP.TABLE.QUANTITY" | translate }}</th>
        <th>{{ "PRINT_POPUP.TABLE.PRICE" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderItems">
        <td>{{ item.product.name }} - {{ item.category.name }}</td>
        <td>
          @if(item.packsPieces) {
          <span class="text-nowrap">
            {{ item.packsPieces }} ({{ item.quantity | number : "1.0-2" }}
            {{
              "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
                item.product.unit_id | translate
            }})
          </span>
          } @if(!item.packsPieces && item.product.unit_id === 3) {
          <span class="text-nowrap">
            {{ item.quantity }}
            {{
              "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.1" | translate
            }}
          </span>
          } @if(!item.packsPieces && item.product.unit_id !== 3) {
          <span class="text-nowrap">
            {{ item.quantity }}
            {{
              "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
                item.product.unit_id | translate
            }} </span
          >}
        </td>
        <td>{{ item.price }} RON</td>
      </tr>
    </tbody>
  </table>

  <div class="mt-2">
    {{
      "PRINT_POPUP.PRICE_DETAILS"
        | translate
          : {
              total_price: order?.totalAmountFinal,
              paid_amount: order?.paidAmount!
            }
    }}
  </div>
  <div class="mt-2 py-1 px-2 border border-1 border-dark">
    <strong>
      {{ "PRINT_POPUP.REMAINED_PRICE" | translate }}
    </strong>
    {{ order?.totalAmountFinal! - order?.paidAmount! | number : "1.0-2" }} RON
  </div>
</div>
}
