@if(order){
<div class="d-flex flex-column w-100 pb-3">
  <div class="d-flex align-items-center justify-content-between w-100 px-1">
    {{ order.client.name }} - {{ order.dateOrderPlaced | date : "yyyy.MM.dd" }}
    <button
      class="d-flex align-items-center"
      mat-icon-button
      (click)="closeDetailsComponent()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="item-box bg-white text-dark rounded shadow p-3">
    @for (item of orderItems; let i = $index; let last = $last; track $index) {
    <div class="position-relative">
      <div
        class="d-flex flex-column align-items-center justify-content-between py-1"
        [ngClass]="{ 'border-1 border-bottom': !last }"
      >
        <div>{{ item.product.name }} - {{ item.category.name }}</div>
        @if(item.packsPieces){
        <div>
          {{ item.packsPieces }} ({{ item.quantity | number : "1.0-2" }}
          {{
            "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
              item.product.unit_id | translate
          }})
        </div>
        } @else if(item.product.unit_id === 3) {
        <div>
          {{ item.quantity }}
          {{
            "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.1" | translate
          }}
        </div>
        } @else {
        <div>
          {{ item.quantity }}
          {{
            "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
              item.product.unit_id | translate
          }}
        </div>
        }
        <div>{{ item.price | number : "1.0-2" }} RON</div>
      </div>
      @if(!order.dateOrderDelivered){
      <mat-checkbox
        [checked]="item.itemStatus"
        (change)="updateItemStatus(item.id, !item.itemStatus, i)"
        class="position-absolute top-50 end-0 translate-middle-y"
      />}
    </div>
    }
  </div>
  @if(order.comment) {
  <div
    class="d-flex align-items-center justify-content-center item-box bg-white text-dark rounded shadow p-3 mt-3"
  >
    {{ order.comment }}
  </div>
  } @if(!order.dateOrderDelivered){
  <button class="mt-3" mat-flat-button (click)="orderIsDelivered(order.id)">
    Order is delivered
  </button>
  }
</div>
}
