:host {
  width: 100vw !important;
  padding-left: 7vw;
  padding-right: 7vw;
  max-height: 82vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiline-text {
  white-space: pre-line;
}

.text-truncate {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-detail-item {
  padding: 2px 0;
  display: flex;
  align-items: center;
  width: fit-content;
}
