:host {
  width: 100vw !important;
  padding-left: 7vw;
  padding-right: 7vw;
  max-height: 82vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiline-text {
  white-space: pre-line;
}

.text-truncate {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-detail-item {
  padding: 2px 0;
  display: flex;
  align-items: center;
  width: fit-content;
}

#print-section {
  display: none;
  position: fixed;
  top: -20000px;
  left: -20000px;
  width: 190mm;
  background: white;
  font-family: Arial, "Helvetica Neue", sans-serif;
  color: #000;
  font-size: 14px;

  &.active {
    display: block;
  }

  #print-header {
    z-index: 999999 !important;
  }

  .data-container {
    font-size: 13px;
    margin: 0 7.5mm;

    .title {
      font-size: 15px;
    }
  }

  .container-with-bg {
    background-image: url("../../../../assets/images/leaves.png");
    background-size: contain;
    background-position-x: 15mm;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    padding-bottom: 5mm;
  }

  .container-with-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1;
  }

  .container-with-bg > * {
    position: relative;
    z-index: 2;
    color: black;
  }

  .table-and-details {
    background-image: url("../../../../assets/images/logo_full_bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .table-and-details::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }

  .table-and-details > * {
    position: relative;
    z-index: 2;
    color: black;
  }

  table {
    width: 100%;
    margin-top: 2.5mm;
    table-layout: fixed;
  }

  th,
  td {
    padding: 6px 8px;
    text-align: left;
    box-sizing: border-box;
  }
  th {
    background-color: #efeeee !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .table-breaked {
    page-break-before: auto;
  }

  table,
  th,
  td {
    border: 1px solid #000 !important;
    border-collapse: collapse !important;
  }
}
