<mat-toolbar class="topbar">
  <div class="topbar-left">
    @if (authStore.isAuthenticated()) {
      <button
        @enterAndLeaveAnimation
        mat-icon-button
        aria-label="Menu"
        (click)="toggleSidebar()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button
        @enterAndLeaveAnimation
        mat-icon-button
        aria-label="Back"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <button
      mat-icon-button
      *ngIf="installService.installPromptAvailable | async"
      aria-label="Install app"
      (click)="installApp()"
    >
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <span class="topbar-spacer"></span>

  <div class="topbar-right">
    <img
      class="topbar-logo"
      src="assets/images/logo-outline.png"
      alt="Logo"
    />
    @if (
      authStore.isAuthenticated() &&
      authStore.role() === "admin" &&
      authStore.unapprovedUsersNumber()
    ) {
      <button mat-icon-button (click)="goToUserPage()">
        <mat-icon
          [matBadge]="authStore.unapprovedUsersNumber() ? authStore.unapprovedUsersNumber() : ''"
        >account_circle</mat-icon>
      </button>
    }
    <app-language-switcher></app-language-switcher>
  </div>
</mat-toolbar>
