@if (unapprovedUsers | async; as users) {
<mat-accordion @enterAnimation class="w-100" multi>
  <mat-expansion-panel [expanded]="users.length !== 0">
    <mat-expansion-panel-header class="px-3">
      <div class="d-flex justify-content-center align-items-center">
        Unapproved users:
      </div>
    </mat-expansion-panel-header>
    <div class="w-100 users-container">
      @for (user of users; track $index; let last = $last) {
      <div class="d-flex mx-1 justify-content-between align-items-center py-1">
        <div class="d-flex flex-column">
          <div>{{ user.name }}</div>
          <div>({{ user.email }})</div>
        </div>
        <div class="d-flex">
          <button mat-icon-button (click)="approveUser(user.id)">
            <mat-icon class="text-success">add_circle_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="denieUser(user.id)">
            <mat-icon class="text-danger">remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
      @if(!last) {
      <mat-divider></mat-divider>} } @if (users.length === 0) {
      <div class="fs-5 w-100">All users are approved</div>
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>
}
