<div @enterAnimation class="signup-container">
  <form [formGroup]="signupForm" (ngSubmit)="signUp()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "AUTH.SIGN_UP.NAME" | translate }}</mat-label>
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "AUTH.EMAIL" | translate }}</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "AUTH.PASSWORD" | translate }}</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="full-width"
      [disabled]="signupForm.invalid"
    >
      {{ "AUTH.SIGN_UP.ENTER" | translate }}
    </button>
  </form>
</div>
