<div class="reset-password-container">
  <h2>Reset Your Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="full-width"
      [disabled]="resetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>

  <p>
    <a routerLink="/login">Back to Login</a>
  </p>
</div>
