<div class="d-flex flex-column align-items-center justify-content-center m-2">
  <h2>{{ "RESET_PASSWORD.TITLE" | translate }}</h2>
  <div class="reset-password-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ "RESET_PASSWORD.PASSWORD" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'RESET_PASSWORD.PLACEHOLDER_PASSWORD' | translate }}"
          type="password"
          formControlName="password"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{
          "RESET_PASSWORD.CONFIRM_PASSWORD" | translate
        }}</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          placeholder="{{
            'RESET_PASSWORD.PLACEHOLDER_CONFIRM_PASSWORD' | translate
          }}"
          required
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
        [disabled]="resetPasswordForm.invalid"
      >
        {{ "RESET_PASSWORD.SUBMIT" | translate }}
      </button>
    </form>

    <button mat-button (click)="goToAuthPage()">
      {{ "RESET_PASSWORD.BACK_TO_LOGIN" | translate }}
    </button>
  </div>
</div>
