.product-list-container {
  max-height: 100px;
  overflow-y: auto;
  background-color: rgba(128, 128, 128, 0.338);
}

.unic-price-list-container {
  max-height: 150px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.unic-item {
  transition: color 0.5s, font-size 0.5s;
}

.selected-item {
  padding-left: 5px;
  color: rgb(137, 0, 0);
  font-size: 18px;
  font-weight: 500;
}
