@use 'breakpoints' as *;

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 72, 60);
  color: white;
  padding: var(--space-6) var(--space-4);
  overflow: auto;
}

.search-container {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  @include sm {
    max-width: 560px;
  }
}
