<div class="row border-top border-dark navbar-color">
  <div class="col justify-content-center border-dark border-end">
    <button
      class="d-flex flex-column justify-content-center align-items-center navbar-button w-100 h-100"
      mat-icon-button
      (click)="toNewOfferPage()"
    >
      <mat-icon
        class="w-auto h-auto"
        aria-hidden="false"
        aria-label="Offer"
        fontIcon="post_add"
      ></mat-icon>
      {{ "NAVBAR.OFFER_BUTTON" | translate }}
    </button>
  </div>
  <div class="col justify-content-center border-dark border-end">
    <button
      class="d-flex flex-column justify-content-center align-items-center navbar-button w-100 h-100"
      mat-icon-button
      (click)="toOrdersPage()"
    >
      <mat-icon
        class="w-auto h-auto"
        aria-hidden="false"
        aria-label="Order-history"
        fontIcon="receipt_long"
      ></mat-icon>
      {{ "NAVBAR.HISTORY_BUTTON" | translate }}
    </button>
  </div>
  <div class="col justify-content-center">
    <button
      class="d-flex flex-column justify-content-center align-items-center navbar-button w-100 h-100"
      mat-icon-button
      (click)="toOffersPage()"
    >
      <mat-icon
        class="w-auto h-auto"
        aria-hidden="false"
        aria-label="Offer-history"
        fontIcon="local_offer"
      ></mat-icon>
      {{ "NAVBAR.OFFERS_BUTTON" | translate }}
    </button>
  </div>
</div>
