<div class="page-container w-100">
  <div
    class="d-flex flex-column px-2 add-product"
    [class]="{ 'select-product-off': !selectProductOn }"
  >
    @if (selectProductOn) {
    <div @enterAnimation>
      <app-product-list
        (selectedProduct)="getSelectedProduct($event)"
      ></app-product-list>

      @if (selectedProduct) {
      <app-selected-product
        (addProduct)="addProductToList($event)"
        [selectedProduct]="selectedProduct"
      ></app-selected-product>
      }
    </div>
    }@else {
    <div
      class="d-flex flex-column justify-content-center align-items-center h-100 w-100 px-2 mb-2 rounded shadow select-product-tile"
      (click)="selectProductOn = !selectProductOn"
    >
      <div class="fs-2">
        {{ "OFFER_PAGE.CREATE_OFFER.TILE_BUTTONS.ADD_PRODUCT" | translate }}
      </div>
      <div class="products-expand-icon-position">
        <mat-icon class="fs-1 icon-color">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    }
  </div>
  <div
    class="product-list px-2"
    [class]="{
      'expanded-product-list': !selectProductOn
    }"
  >
    @if(!selectProductOn) {
    <app-selected-product-list @enterAnimation></app-selected-product-list>
    } @else {
    <div
      class="d-flex flex-column justify-content-center align-items-center h-100 w-100 px-2 mb-3 rounded shadow select-product-tile"
      (click)="selectProductOn = !selectProductOn"
    >
      <div class="list-expand-icon-position">
        <mat-icon class="fs-1 icon-color">keyboard_arrow_up</mat-icon>
      </div>
      <div class="fs-2">
        {{
          "OFFER_PAGE.CREATE_OFFER.TILE_BUTTONS.SHOW_PRODUCT_LIST" | translate
        }}
      </div>
    </div>
    }
  </div>
</div>
