:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(57, 72, 60);
  color: white;
  padding-top: 40px;
}

.add-client {
  width: 90%;
}

.full-width {
  width: 90%;
}

.card-button-selected {
  background-color: rgba(50, 0, 0, 0.25);
}

::ng-deep {
  .client-search-input .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
