@if (selectedProduct) {
  <div
    @enterAnimation
    class="d-flex flex-column justify-content-evenly product-container shadow rounded w-100 p-2 card-text-color"
  >
    <div class="d-flex w-100">
      <div class="d-flex align-items-center w-100 justify-content-evenly">
        <div class="d-flex flex-column align-items-center">
          {{ selectedProduct.name }}
          <mat-chip-listbox
            class="ms-2"
            [(ngModel)]="selectedCategory"
            (ngModelChange)="onCategoryChange()"
            aria-label="Select product category"
            [hideSingleSelectionIndicator]="true"
          >
            @for (price of prices; track $index) {
              <mat-chip-option
                [value]="price.category_id"
                [selected]="price.category_id === selectedCategory"
                [disabled]="price.category_id === selectedCategory"
                >{{
                  "OFFER_PAGE.CREATE_OFFER.PRICE_CATEGORY." + price.category_id
                    | translate
                }}</mat-chip-option
              >
            }
          </mat-chip-listbox>
        </div>

        <mat-divider vertical="true" class="h-100 mx-2"></mat-divider>

        <div
          class="d-flex flex-column justify-content-center align-items-center mw-50"
        >
          <div class="d-flex justify-content-center align-items-center w-100">
            @if (selectedProduct.unit_id === 3) {
              {{
                (selectedProduct.width
                  ? "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.1"
                  : "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.3"
                ) | translate
              }}
            } @else if (selectedProduct.unit_id !== 2) {
              {{
                "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
                  selectedProduct.unit_id | translate
              }}
            } @else {
              <div
                (click)="m2_setUnit()"
                class="border border-1 border-dark rounded px-1 mb-1"
              >
                @if (m2_quantity() === "BRUT" || m2_quantity() === "NET") {
                  {{
                    "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
                      selectedProduct.unit_id | translate
                  }}
                }
                {{ m2_quantity() }}
              </div>
            }
          </div>
          <div class="d-flex w-100">
            <input
              type="text"
              inputmode="decimal"
              pattern="[0-9]*[.,]?[0-9]*"
              [(ngModel)]="quantity"
              (change)="validateInput()"
              [value]="quantity"
              (focus)="clearOnFirstFocus($event)"
              class="small-input rounded"
            />
          </div>
        </div>
        <mat-divider vertical="true" class="h-100 mx-2"></mat-divider>
        <div
          class="d-flex text-center align-items-center justify-content-center"
        >
          <div class="d-flex flex-column">
            @if (calculatedPrice) {
              {{ this.calculatedPrice | number: "1.0-1" }}
              {{ "LANGUAGE.CURRENCY" | translate }}
            }
            @if (packsNeeded || extraPiecesNeeded) {
              <div class="d-flex mt-3">
                {{ packsNeeded ? packsNeeded + "p" : "" }}
                {{ packsNeeded && extraPiecesNeeded ? "+" : "" }}
                {{ extraPiecesNeeded ? extraPiecesNeeded + "b" : "" }}
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <mat-divider class="m-2"></mat-divider>
    <div class="ms-4">
      @if (currentStock && selectedProduct.unit_id !== 2) {
        {{ "SNACKBAR.PRODUCT.STOCK" | translate }}
        {{ currentStock.stock }}/{{
          currentStock.stock - currentStock.booked_stock
        }}
      }
    </div>
  </div>
  <div class="d-flex justify-content-center w-100">
    <button
      class="btn bg-success d-flex align-items-center mt-1 z-3"
      (click)="addNewProduct()"
      mat-icon-button
    >
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
}
