.product-container {
  background-color: rgba(73, 92, 76, 0.97);
}

.small-input {
  width: 50px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(57, 72, 60);
}

.card-text-color {
  color: white;
}
