<div class="settings-page-container">
  <div class="d-flex justify-content-center w-100 pb-2">
    <mat-button-toggle-group [formControl]="settingControl">
      <mat-button-toggle value="add_product">{{
        "SETTINGS.TYPE.ADD_PRODUCT" | translate
      }}</mat-button-toggle>
      <mat-button-toggle value="update_product">{{
        "SETTINGS.TYPE.EDIT_PRODUCT" | translate
      }}</mat-button-toggle>
      <mat-button-toggle value="price">{{
        "SETTINGS.TYPE.EDIT_PRICE" | translate
      }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  @switch (settingControl.value) { @case ("price") {
  <app-change-prices @enterAnimation class="w-100"></app-change-prices>
  } @case ("update_product") {
  <app-update-products @enterAnimation class="w-100"></app-update-products>
  } @case ("add_product") {
  <app-add-product @enterAnimation class="w-100"></app-add-product>
  } }
</div>
