.navbar-color {
  background-color: rgba(73, 92, 76, 1);
}

.navbar-button {
  height: 53px;
  color: white;
  font-size: 12px;

  mat-icon {
    font-size: 28px;
  }
}

.navbar-button:focus {
  color: rgba(95, 1, 1, 0.55);

  mat-icon {
    color: rgba(95, 1, 1, 0.55);
  }
}

.button-divider {
  color: black;
}
