<div class="d-flex border-top border-dark navbar-color">
  <div class="d-flex justify-content-center w-50 border-1">
    <button
      class="d-flex flex-column justify-content-center align-items-center navbar-button w-100 h-100"
      mat-icon-button
      (click)="toNewOfferPage()"
    >
      <mat-icon
        class="w-auto h-auto"
        aria-hidden="false"
        aria-label="Offer"
        fontIcon="post_add"
      ></mat-icon>
      {{ "NAVBAR.OFFER_BUTTON" | translate }}
    </button>
  </div>
  <mat-divider
    class="button-divider"
    role="separator"
    [vertical]="true"
  ></mat-divider>
  <div class="d-flex justify-content-center w-50 border-1">
    <button
      class="d-flex flex-column justify-content-center align-items-center navbar-button w-100 h-100"
      mat-icon-button
    >
      <mat-icon
        class="w-auto h-auto"
        aria-hidden="false"
        aria-label="Offer-history"
        fontIcon="description"
      ></mat-icon>
      {{ "NAVBAR.HISTORY_BUTTON" | translate }}
    </button>
  </div>
</div>
