.navbar-color {
  background-color: rgba(116, 125, 122, 0.2);
}

.navbar-button {
  margin-top: 3px;
  height: 53px;
  width: 56px;

  mat-icon {
    font-size: 28px;
  }
}

.navbar-button:focus {
  mat-icon {
    font-size: 38px;
    color: rgba(95, 1, 1, 0.55);
  }
}

.button-divider {
  color: black;
}
