.pdf-logo {
  height: 30mm !important;
}

.data-margin {
  margin-top: 10mm;
  margin-left: -8.5mm;
}

.logo-margin {
  margin-top: 10mm;
  margin-right: 10mm;
}

.container {
  position: relative;
  width: 55mm;
  height: 55mm;
  overflow: visible;
}

.container:after {
  content: "";
  width: 55mm;
  height: 55mm;
  border-style: solid;
  border-width: 0 0 55mm 55mm;
  border-color: transparent transparent transparent rgb(75, 112, 81);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 99999 !important;
  overflow: visible !important;
}
