@if ("OFFER_PAGE.FIRST_STEP.TITLE" | translate) {
  <div @enterAnimation class="page-container">
    <div class="d-flex flex-column h-100 justify-content-center">
      <div class="p-5 image-container">
        <img
          class="rounded img-fluid"
          src="assets/images/warehouse-employee.jpg"
        />
      </div>
      <div class="d-flex flex-column align-items-center mt-2">
        <div class="fs-3">
          {{ "OFFER_PAGE.FIRST_STEP.TITLE" | translate }}
        </div>
        <button
          class="btn start-button w-75 py-2 mt-4"
          (click)="toCreateOfferPage()"
        >
          {{ "OFFER_PAGE.FIRST_STEP.START_BUTTON" | translate }}
        </button>

        <button
          class="btn products-button w-75 py-2 mt-4"
          (click)="toProductListPage()"
        >
          {{ "OFFER_PAGE.FIRST_STEP.PRODUCTS" | translate }}
        </button>
      </div>
    </div>
  </div>
}
