:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(57, 72, 60);
  color: white;
}

.image-container {
  img {
    max-height: 50vh;
  }
}

.start-button {
  background-color: rgba(95, 1, 1, 0.55);
  color: white;
  font-weight: 600;
  border: 1px solid white;
}

.products-button {
  background-color: rgb(235, 234, 234);
  color: rgb(95, 1, 1);
  font-weight: bolder;
  border: 2px solid rgba(95, 1, 1, 0.863);
}
