:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(57, 72, 60);
  color: white;
}

.product-container {
  background-color: rgb(57, 72, 60);
}

.add-product {
  height: 75%;
  width: 100%;
  transition: height 0.6s;
}

.product-list {
  height: auto;
  min-height: 20%;
  max-height: 35%;
  width: 100%;
  transition: height 0.6s;
}

.select-product-off {
  height: 20%;
}

.select-product-tile {
  background-color: white;
  position: relative;
  color: rgb(57, 72, 60);

  .icon-color {
    color: white;
  }

  .button-background {
    background-color: rgb(134, 2, 2);
  }

  .max-height {
    max-height: 70%;
  }
}

.short-list {
  width: 75%;
  max-height: 70%;
  overflow: auto;
}

.expanded-product-list {
  height: 75%;
}
