:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;

  background-color: rgb(57, 72, 60);
  color: white;
}

.product-list {
  height: auto;
  min-height: 20%;
  max-height: 84%;
  width: 100%;
  overflow: auto;
}

.select-product-tile {
  background-color: white;
  color: rgb(57, 72, 60);
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  .button-background {
    background-color: rgb(134, 2, 2);
  }

  .short-product-list {
    width: 75%;
    max-height: 12vh;
    overflow: auto;
  }
}
