<!-- <div class="filter-container">
  <mat-form-field class="full-width">
    <mat-label>Select Category</mat-label>
    <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange()">
      <mat-option *ngFor="let category of productGroups" [value]="category">
        {{ category.category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Select a Product</mat-label>
    <input type="text" matInput [formControl]="productControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
        {{ product }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div> -->
<app-product-list></app-product-list>
