:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  background-color: rgb(57, 72, 60);
  color: white;
}

.full-width {
  width: 90vw;
}
