@if (!order) {
  <app-order-table
    @enterAnimation
    [ngClass]="{ 'd-none': isLoading() && !clientStore.isBusy() }"
    (orderOutput)="selectedOrder($event)"
    (isLoading)="isLoading.set($event)"
  ></app-order-table>
} @else {
  <app-order-details
    @enterAnimation
    [ngClass]="{ 'd-none': isLoading() && !clientStore.isBusy() }"
    (closeDetails)="deselectOrder()"
    [order]="order"
  ></app-order-details>
}
@if (isLoading()) {
  <div class="d-flex justify-content-center align-items-center h-100">
    <mat-spinner />
  </div>
}
