:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  img {
    max-height: 50vh;
  }
}

.start-button {
  background-color: rgba(95, 1, 1, 0.55);
  color: white;
  font-weight: 600;
  border: 1px solid white;
}
