:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  background-color: rgb(57, 72, 60);
  color: white;
}

.offer-page-container {
  height: 93vh;
  max-height: 93vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.full-width {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.discount-button {
  background-color: rgba(252, 246, 238, 0.473);
  transition: transform 0.5s;
  transition: background-color 0.5s;

  &:active {
    transform: scale(0.85);
    background-color: rgb(97, 97, 97);

    &::before {
      opacity: 1;
    }
  }

  &::before {
    z-index: 0;
    transition: opacity 0.5s;
  }

  &:hover::after {
    opacity: 1;
  }
}

.total-quantity-card {
  padding: 0 24px;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.009rem;
  color: #1a1b1f;
  border-radius: 12px;
  background-color: #faf9fd;

  .total-quantity {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.voucher-input {
  width: 25vw;
}

::ng-deep {
  .voucher-input {
    .mdc-text-field--outlined {
      border-color: white !important;
    }

    .mdc-floating-label {
      color: white !important;
    }

    .mat-mdc-notch-piece {
      width: 100% !important;
      text-align: center;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
  .delivery-input-field {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
