@let justOffers = justOffer();

<div id="print-section" [class.active]="isPrinting()">
  <div id="print-header" class="overflow-visible">
    <app-pdf-header
      class="overflow-visible"
      [id]="order()!.id"
      [deliveryDate]="
        order()!.expectedDelivery ? order()!.expectedDelivery : null
      "
      [justOffer]="justOffers"
      [orderDate]="order()!.dateOrderPlaced"
    />
  </div>

  <div id="print-content">
    <div class="d-flex w-100 data-container">
      <div class="w-50 container-with-bg">
        <div class="d-flex flex-column">
          <div class="title mb-2 text-uppercase">
            <strong>{{ "TOMPRODCOM.TITLE" | translate }}</strong>
          </div>
          <div>{{ "TOMPRODCOM.NAME" | translate }}</div>
          <div><strong>CUI: </strong> {{ "TOMPRODCOM.CUI" | translate }}</div>
          <div>
            <strong>{{ "PRINT_POPUP.OFFICE" | translate }}</strong>
            {{ "TOMPRODCOM.OFFICE" | translate }}
          </div>
          <div>
            <strong>{{ "PRINT_POPUP.ADDRESS_PJ" | translate }}</strong>
            {{ "TOMPRODCOM.ADDRESS" | translate }}
          </div>
          <div>
            <strong>Email: </strong>{{ "TOMPRODCOM.EMAIL" | translate }}
          </div>
          <div><strong>Site: </strong>{{ "TOMPRODCOM.SITE" | translate }}</div>
          <div>
            <strong>Tel: </strong>{{ "TOMPRODCOM.PHONE1" | translate }} /
            {{ "TOMPRODCOM.PHONE2" | translate }}
          </div>
        </div>
      </div>
      <div class="w-50">
        <div class="d-flex flex-column">
          <div class="title mb-2 text-uppercase">
            <strong>{{ "PRINT_POPUP.CLIENT" | translate }}</strong>
          </div>
          <div class="text-wrap">{{ client().name }}</div>
          <div>
            <strong>{{ client().type === 1 ? "CNP " : "CUI " }}</strong>
            : {{ client().code }}
          </div>
          <div class="mt-1 d-flex">
            <strong>Tel:</strong>
            <div>
              @for (phone of client().client_phones; track $index) {
                <div class="ms-1">
                  {{ phone.phone }}
                  @if (phone.label) {
                    - ({{ phone.label }})
                  }
                </div>
              }
            </div>
          </div>
          <div class="text-wrap">
            <strong>{{
              client().type === 1
                ? ("PRINT_POPUP.ADDRESS_PF" | translate)
                : ("PRINT_POPUP.ADDRESS_PJ" | translate)
            }}</strong>
            {{ client().address }}
          </div>
          <div class="text-wrap">
            <strong>{{ "PRINT_POPUP.DELIVERY_ADDRESS" | translate }}</strong>
            {{ order().delivery_address }}
          </div>
        </div>
      </div>
    </div>

    <div class="table-and-details">
      <table class="table-breaked">
        <thead>
          <tr>
            <th>{{ translate("PRINT_POPUP.TABLE.NAME") }}</th>
            <th>{{ translate("PRINT_POPUP.TABLE.QUANTITY") }}</th>
            <th>{{ translate("PRINT_POPUP.TABLE.QUANTITY") }} m³</th>
            <th>{{ translate("PRINT_POPUP.TABLE.PRICE") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderItems()">
            <td>{{ item.product.name }} - {{ item.category.name }}</td>
            <td>
              @if (item.packsPieces) {
                <span class="text-nowrap">
                  {{ item.packsPieces }} ({{ item.quantity | number: "1.0-2" }}
                  {{
                    translate(
                      "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
                        item.product.unit_id
                    )
                  }})
                </span>
              }
              @if (!item.packsPieces && item.product.unit_id === 3) {
                <span class="text-nowrap">
                  @if (item.product.width) {
                    {{ item.quantity }}
                    {{
                      translate(
                        "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.1"
                      )
                    }}
                  } @else {
                    {{
                      item.quantity / (item.product.thickness / 100)
                        | number: "1.0-2"
                    }}
                    {{
                      translate(
                        "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS.2"
                      )
                    }}
                  }
                </span>
              }
              @if (!item.packsPieces && item.product.unit_id !== 3) {
                <span class="text-nowrap">
                  {{ item.quantity | number: "1.0-1" }}
                  {{
                    translate(
                      "OFFER_PAGE.CREATE_OFFER.UNIT_FILTER.FILTER_OPTIONS." +
                        item.product.unit_id
                    )
                  }}
                </span>
              }
            </td>
            <td>
              @if (getTotalMQ(item)) {
                {{ getTotalMQ(item) | number: "1.2-2" }}m³
              } @else {
                -
              }
            </td>
            <td>{{ item.price | number: "1.0-1" }} RON</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">{{ "WORDS.TOTAL" | translate }}:</th>
            <th>{{ order().totalQuantity | number: "1.2-2" }} m³</th>
            <th>{{ order().totalAmount | number: "1.0-1" }} RON</th>
          </tr>
        </tfoot>
      </table>

      <div class="pdf-bottom-details">
        <div class="my-1">
          {{
            translate("PRINT_POPUP.PRICE_DETAILS", {
              total_price:
                order()!.totalAmount + order()!.deliveryFee | number: "1.0-2",
              paid_amount: order().paidAmount! | number: "1.0-2",
            })
          }}
          @if (order().voucher) {
            (Voucher: {{ order().voucher }}
            @if (!isPercentageVoucher(order().voucher!)) {
              RON
            }
            )
          }
        </div>

        <div class="mt-1 py-1 px-2 border border-1 border-dark fs-4">
          <strong
            >{{ translate("PRINT_POPUP.REMAINED_PRICE") }}
            {{
              order().totalAmountFinal! +
                order()!.deliveryFee -
                order().paidAmount! | number: "1.0-2"
            }}
            RON
          </strong>
        </div>

        @if (client().other_details) {
          <div class="pt-2">
            {{ client().other_details }}
          </div>
          <mat-divider class="w-25 my-1" />
        }
        @if (order().comment) {
          <div class="pb-2 multiline-text">
            {{ order().comment }}
          </div>
        }
      </div>
    </div>
  </div>

  <div id="print-footer">
    <app-pdf-footer />
  </div>
</div>
