.edit-button-background {
  background-color: rgb(57, 72, 60);
  color: white !important;
}

.client-data {
  max-height: 20vh;
  overflow: auto;
  scrollbar-color: transparent;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bababc;
    border-radius: 4px;
    border: 2px solid transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
