// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.voucher-input {
  @include mat.form-field-overrides(
    (
      outlined-outline-width: 2px,
      outlined-outline-color: white,
      outlined-focus-outline-color: white,
      outlined-caret-color: white,
      outlined-label-text-color: white,
      outlined-input-text-color: white,
    )
  );
}

.submit-button {
  @include mat.button-overrides(
    (
      filled-disabled-container-color: rgba(0, 65, 150, 0.244),
      filled-disabled-label-text-color: white,
    )
  );
}

.submit-delete-button {
  @include mat.button-overrides(
    (
      filled-container-color: rgba(184, 0, 0, 0.808),
      filled-label-text-color: white,
    )
  );
}

:root {
  @include mat.button-toggle-overrides(
    (
      selected-state-text-color: white,
      text-color: white,
      selected-state-background-color: rgba(95, 1, 1, 1),
      divider-color: black,
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: rgb(236, 236, 236),
    )
  );

  @include mat.divider-overrides(
    (
      color: var(--bs-dark),
    )
  );

  @include mat.icon-overrides(
    (
      color: white,
    )
  );

  @include mat.chips-overrides(
    (
      label-text-color: rgb(57, 72, 60),
      flat-disabled-selected-container-color: rgba(95, 1, 1, 1),
      elevated-selected-container-color: rgba(95, 1, 1, 1),
      selected-label-text-color: white,
      disabled-label-text-color: white,
      with-icon-selected-icon-color: white,
      with-icon-disabled-icon-color: white,
      disabled-container-opacity: none,
      with-icon-disabled-icon-opacity: none,
      elevated-container-color: white,
      focus-outline-color: transparent,
      outline-color: transparent,
      outline-width: 2px,
    )
  );

  @include mat.form-field-overrides(
    (
      filled-label-text-color: rgb(57, 72, 60),
      filled-input-text-color: rgb(57, 72, 60),
      filled-focus-label-text-color: rgb(57, 72, 60),
      filled-hover-label-text-color: rgb(57, 72, 60),
      filled-container-color: white,
    )
  );

  .snackbar-success {
    --mdc-snackbar-container-color: #216e25 !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mdc-snackbar-supporting-text-weight: 500;
    --mdc-snackbar-button-color: white;
  }

  .snackbar-error {
    --mdc-snackbar-container-color: #b11111 !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mdc-snackbar-supporting-text-weight: 500;
    --mdc-snackbar-button-color: white;
  }

  .snackbar-info {
    --mdc-snackbar-container-color: #0c56ac !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mdc-snackbar-supporting-text-weight: 500;
    --mdc-snackbar-button-color: white;
  }
}

.page-container {
  height: 92vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
}

.cdk-overlay-container {
  z-index: 1000000 !important;
}
