// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(57, 72, 60);
  color: white;
}

:root {
  @include mat.divider-overrides(
    (
      color: var(--bs-dark),
    )
  );

  @include mat.icon-overrides(
    (
      color: white,
    )
  );

  @include mat.chips-overrides(
    (
      label-text-color: white,
      outline-width: 2px,
      flat-disabled-selected-container-color: rgba(95, 1, 1, 0.55),
      elevated-selected-container-color: rgba(95, 1, 1, 0.55),
      selected-label-text-color: white,
      disabled-label-text-color: white,
      with-icon-selected-icon-color: white,
      with-icon-disabled-icon-color: white,
      disabled-container-opacity: none,
      with-icon-disabled-icon-opacity: none,
      focus-outline-color: rgb(110, 110, 117),
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-label-text-color: white,
      outlined-input-text-color: white,
      outlined-outline-width: 2px,
      outlined-focus-outline-color: rgba(95, 1, 1, 0.55),
      outlined-focus-label-text-color: white,
      outlined-hover-label-text-color: white,
      outlined-hover-outline-color: rgb(110, 110, 117),
    )
  );
}

.page-container {
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
