<div class="d-flex flex-column align-items-center justify-content-center m-2">
  <h2>{{ isSignup() ? "Sign Up" : "Login" }}</h2>
  @if (isSignup()) {
  <app-signup></app-signup>
  }@else {
  <app-login (toggleAuth)="toggleFromLogin()"></app-login>
  }
  <p>
    {{
      isSignup()
        ? ("AUTH.SWITCH_LOG_IN" | translate)
        : ("AUTH.SWITCH_SIGN_UP" | translate)
    }}
    <a href="#" (click)="toggleMode($event)">
      {{
        isSignup()
          ? ("AUTH.LOG_IN.ENTER" | translate)
          : ("AUTH.SIGN_UP.ENTER" | translate)
      }}
    </a>
  </p>
</div>
