:host {
  max-width: 96vw;
  max-height: 80vh !important;
  overflow: scroll;
}

tr.detail-row {
  height: 0;
}

tr.order-row {
  cursor: pointer;
}

tr.order-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.order-row:not(.expanded-row):active {
  background: #efefef;
}

.order-row td {
  border-bottom-width: 0;
}

.order-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.order-table {
  width: 100 !important;

  th {
    word-wrap: break-word !important;
    text-wrap: wrap !important;
  }

  tr {
    td {
      font-size: 13px !important;
      padding: 0 !important;
      max-width: 20vw !important;
      overflow: auto;
      word-wrap: break-word;
      text-wrap: wrap;
    }

    td.client-name {
      max-width: 25vw !important;
    }
  }
}

.order-detail {
  display: flex;
  justify-content: space-between;
  min-height: 0;
  width: 100%;

  .order-detail-item {
    padding: 0.4rem 0.3rem 0 0.5rem;
  }
}

.in-past {
  color: #ba0000;
}

::ng-deep {
  .detail-row {
    background-color: #efefef !important;
  }

  .mat-mdc-raised-button {
    color: rgb(72, 95, 77) !important;
  }

  .mat-mdc-raised-button.delete-button {
    color: rgb(95, 1, 1) !important;
  }

  th.mdc-data-table__header-cell {
    padding: 0px 4px !important;
  }

  .filter-section .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.multiline-text {
  white-space: pre-line;
}

.until-delivery {
  background-color: #deddddbb;

  .until-delivery-start {
    color: #ba0000;
  }
}
