<div class="filter-section d-flex flex-column w-100">
  @if (!justOffers) {
    <div class="d-flex mb-2 gap-2">
      <mat-form-field>
        <mat-label class="d-flex justify-content-center align-items-center"
          ><i class="material-icons">filter_alt</i>
          {{ "ORDER.TABLE.FILTER.FILTER_LABEL" | translate }}</mat-label
        >
        <mat-select
          [(ngModel)]="tableFilter"
          (ngModelChange)="filterItems(false)"
        >
          <mat-option [disabled]="tableFilter === 'all'" value="all">{{
            "ORDER.TABLE.FILTER.ALL" | translate
          }}</mat-option>
          <mat-option [disabled]="tableFilter === 'open'" value="open">{{
            "ORDER.TABLE.FILTER.OPEN" | translate
          }}</mat-option>
          <mat-option [disabled]="tableFilter === 'closed'" value="closed">{{
            "ORDER.TABLE.FILTER.CLOSED" | translate
          }}</mat-option>
          <mat-option
            [disabled]="tableFilter === 'expectedToday'"
            value="expectedToday"
            >{{ "ORDER.TABLE.FILTER.EXPECTED_TODAY" | translate }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="d-flex justify-content-center align-items-center"
          ><i class="material-icons">sort</i>
          {{ "ORDER.TABLE.FILTER.SORT_LABEL" | translate }}</mat-label
        >
        <mat-select [(ngModel)]="tableSort" (ngModelChange)="sortItems()">
          <mat-option [disabled]="tableSort === 'delivery'" value="delivery">{{
            "ORDER.TABLE.FILTER.DELIVERY" | translate
          }}</mat-option>
          <mat-option [disabled]="tableSort === 'creation'" value="creation">{{
            "ORDER.TABLE.FILTER.CREATION" | translate
          }}</mat-option>
          <mat-option [disabled]="tableSort === 'admin'" value="admin">{{
            "ORDER.TABLE.FILTER.ADMIN" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  }

  <mat-form-field class="mb-1">
    <mat-label>{{ "ORDER.TABLE.FILTER.DATE_RANGE" | translate }}</mat-label>
    <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
      <input
        matStartDate
        formControlName="start"
        [placeholder]="'ORDER.TABLE.FILTER.START_DATE' | translate"
      />
      <input
        matEndDate
        formControlName="end"
        [placeholder]="'ORDER.TABLE.FILTER.END_DATE' | translate"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (dateRange.controls.start.hasError("matStartDateInvalid")) {
      <mat-error>{{
        "ORDER.TABLE.FILTER.INVALID_START" | translate
      }}</mat-error>
    }
    @if (dateRange.controls.end.hasError("matEndDateInvalid")) {
      <mat-error>{{ "ORDER.TABLE.FILTER.INVALID_END" | translate }}</mat-error>
    }
  </mat-form-field>
</div>

<table
  #table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="dataSource"
  [cdkDropListAutoScrollDisabled]="false"
  [cdkDropListAutoScrollStep]="5"
  [cdkDropListDisabled]="!isDragDropEnabled()"
  class="mat-elevation-z8 rounded overflow-hidden order-table"
>
  <!-- Client Column -->
  <ng-container matColumnDef="CLIENT">
    <th mat-header-cell *matHeaderCellDef>
      {{ "ORDER.TABLE.CONTENT.CLIENT" | translate }}
    </th>
    <td mat-cell *matCellDef="let order" class="client-name">
      @if (
        clientStore.clientsEntityMap() &&
        order.clientId &&
        clientStore.clientsEntityMap()[order.clientId].name
      ) {
        {{ clientStore.clientsEntityMap()[order.clientId].name }}
      }
    </td>
  </ng-container>

  <!-- Client Delivery Column -->
  <ng-container matColumnDef="DELIVERY_PLACE">
    <th mat-header-cell *matHeaderCellDef>
      {{ "ORDER.TABLE.CONTENT.DELIVERY_PLACE" | translate }}
    </th>
    <td mat-cell *matCellDef="let order">
      {{ order.delivery_address }}
    </td>
  </ng-container>

  <!-- Expected Delivery Column -->
  <ng-container matColumnDef="EXPECTED_DELIVERY">
    <th mat-header-cell *matHeaderCellDef>
      {{ "ORDER.TABLE.CONTENT.EXPECTED_DELIVERY" | translate }}
    </th>
    <td mat-cell *matCellDef="let order">
      @if (!justOffers) {
        @if (order.untilDeliveryDate) {
          <div
            [matTooltip]="
              'ORDER.TABLE.CONTENT.EXPECTED_DELIVERY_TOOLTIP'
                | translate: { date: order.expectedDelivery | date: 'MM.dd' }
            "
            class="until-delivery rounded"
            [ngClass]="
              !isExpectedDeliveryInFuture(
                order.expectedDelivery,
                order.dateOrderDelivered
              )
                ? 'in-past'
                : ''
            "
          >
            {{ order.expectedDelivery | date }}
            <span class="until-delivery-start">*</span>
          </div>
          {{
            order.forFirstHour
              ? ("ORDER.TABLE.CONTENT.FIRST_HOUR" | translate)
              : ""
          }}
        } @else {
          <div
            [ngClass]="
              !isExpectedDeliveryInFuture(
                order.expectedDelivery,
                order.dateOrderDelivered
              )
                ? 'in-past'
                : ''
            "
          >
            {{ order.expectedDelivery | date }}
            <br />
            {{
              order.forFirstHour
                ? ("ORDER.TABLE.CONTENT.FIRST_HOUR" | translate)
                : ""
            }}
          </div>
        }
      } @else {
        {{ order.dateOrderPlaced | date }}
      }
    </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="QUANTITY">
    <th mat-header-cell *matHeaderCellDef>
      {{ "ORDER.TABLE.CONTENT.QUANTITY" | translate }}
    </th>
    <td mat-cell *matCellDef="let order">
      {{ order.totalQuantity | number: "1.0-2" }} m³
    </td>
  </ng-container>

  <!-- Total Amount Column -->
  <ng-container matColumnDef="TOTAL_AMOUND_FINAL">
    <th mat-header-cell *matHeaderCellDef>
      {{ "ORDER.TABLE.CONTENT.TOTAL_AMOUND_FINAL" | translate }}
    </th>
    <td mat-cell *matCellDef="let order">
      @if (order.dateOrderDelivered || justOffers) {
        <div>
          {{
            order.totalAmountFinal + order.deliveryFee - order.paidAmount
              | number: "1.0-1"
          }}
        </div>
      } @else {
        <div
          (click)="
            payOrder(
              $event,
              order.id,
              order.totalAmountFinal,
              order.paidAmount,
              order.deliveryFee
            )
          "
        >
          {{
            order.totalAmountFinal + order.deliveryFee - order.paidAmount
              | number: "1.0-1"
          }}
        </div>
      }
    </td>
  </ng-container>

  <!-- Expand column -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let order"
      [attr.colspan]="displayedColumns.length"
      class="px-1"
    >
      <div
        class="order-detail-wrapper"
        [class.order-detail-wrapper-expanded]="isExpanded(order)"
      >
        <div class="order-detail" [ngClass]="{ 'py-1': isExpanded(order) }">
          <div>
            @if (!justOffers) {
              <div class="order-detail-item">
                {{ "ORDER.TABLE.CONTENT.ORDER_PLACED" | translate }}
                {{ order.dateOrderPlaced | date }}
              </div>
            } @else {
              <div class="order-detail-item">
                {{ "ORDER.TABLE.CONTENT.OFFER_EXPECTED_DELIVERY" | translate }}
                {{ order.expectedDelivery | date }}
              </div>
            }
            @if (order.voucher != "") {
              <div class="order-detail-item detail-voucher">
                {{ "ORDER.TABLE.CONTENT.VOUCHER" | translate }}
                {{ order.voucher }}
                {{ !isPercentageVoucher(order.voucher) ? "RON" : "" }}
              </div>
            }
            @if (order.dateOrderDelivered) {
              <div class="order-detail-item rounded expected-delivery-bg w-100">
                {{ "ORDER.TABLE.CONTENT.ORDER_DELIVERED" | translate }}
                {{ order.dateOrderDelivered | date }}
              </div>
            }
            @if (order.paidAmount) {
              <div class="order-detail-item">
                {{ "ORDER.TABLE.CONTENT.PAID_AMOUNT" | translate }}
                {{ order.paidAmount | number: "1.0-2" }}
              </div>
            }
            <div class="order-detail-item">
              {{ "ORDER.TABLE.CONTENT.OPERATOR" | translate }}
              {{ order.operator.name }}
            </div>
            @if (order.comment != "") {
              <div
                class="rounded multiline-text border border-secondary border-1 p-2"
              >
                {{ order.comment }}
              </div>
            }
          </div>
          <div
            class="h-100 d-flex flex-column justify-content-center align-items-center"
          >
            <button
              class="w-100"
              (click)="showOrderDetails(order)"
              mat-raised-button
            >
              {{ "ORDER.TABLE.CONTENT.DETAILS_BUTTON" | translate }}
            </button>
            @if (authStore.role() === "admin") {
              <button
                (click)="deleteOrder(order)"
                mat-raised-button
                class="delete-button mt-1 w-100"
              >
                {{ "ORDER.TABLE.CONTENT.DELETE_BUTTON" | translate }}
              </button>
            }
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let order; columns: displayedColumns"
    class="element-row"
    [class.expanded-row]="isExpanded(order)"
    (click)="toggle(order)"
    cdkDrag
    [cdkDragDisabled]="!isDragDropEnabled()"
    [cdkDragData]="order"
    [cdkDragStartDelay]="200"
    [cdkDragLockAxis]="'y'"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>

@if (displayedOrdersStat.numberOfOrders && !justOffers) {
  <div class="d-flex align-items-center justify-content-center">
    <div class="w-100 rounded shadow bg-white text-black mt-2 p-2">
      <div>
        {{ "ORDER.TABLE.CONTENT.NUMBER_OF_ORDERS" | translate }}
        {{ displayedOrdersStat.numberOfOrders }}
      </div>
      <div>
        {{
          "ORDER.TABLE.CONTENT.TOTAL_PRICE"
            | translate
              : { price: displayedOrdersStat.totalPrice | number: "1.0-2" }
        }}
      </div>
    </div>
  </div>
}

<ng-template #paidAmountDialog let-data>
  <h2 mat-dialog-title>
    {{ "ORDER.TABLE.CONTENT.PAY_DIALOG.TITLE" | translate }}
  </h2>
  <mat-dialog-content>
    <div class="w-100 mt-2 fs-6">
      {{
        "ORDER.TABLE.CONTENT.PAY_DIALOG.DESCRIPTION"
          | translate: { maxAmount: data.maxAmount | number: "1.0-2" }
      }}
    </div>
    <mat-form-field class="w-100 mt-4" appearance="outline">
      <mat-label>{{
        "ORDER.TABLE.CONTENT.PAY_DIALOG.INPUT_LABEL" | translate
      }}</mat-label>
      <input
        matInput
        type="number"
        [min]="0"
        [max]="data.maxAmount"
        [(ngModel)]="paidAmount"
        #ngModelRef="ngModel"
        [ngModelOptions]="{
          standalone: true,
        }"
        [placeholder]="
          'ORDER.TABLE.CONTENT.PAY_DIALOG.INPUT_PLACEHOLDER' | translate
        "
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      {{ "ORDER.TABLE.CONTENT.PAY_DIALOG.CANCEL_BUTTON" | translate }}
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="!ngModelRef.valid || paidAmount === null"
      [mat-dialog-close]="true"
    >
      {{ "ORDER.TABLE.CONTENT.PAY_DIALOG.PAY_BUTTON" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmDeleteDialog>
  <h2 mat-dialog-title>
    {{ "OFFER_PAGE.CREATE_OFFER.DELETE_ITEM_POPUP.TITLE" | translate }}
  </h2>
  <mat-dialog-content>
    {{ "OFFER_PAGE.CREATE_OFFER.DELETE_ITEM_POPUP.DESCRIPTION" | translate }}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">
      {{
        "OFFER_PAGE.CREATE_OFFER.DELETE_ITEM_POPUP.CANCEL_BUTTON" | translate
      }}
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      {{
        "OFFER_PAGE.CREATE_OFFER.DELETE_ITEM_POPUP.DELETE_BUTTON" | translate
      }}
    </button>
  </mat-dialog-actions>
</ng-template>
