<h2 mat-dialog-title>{{ "EDIT_CLIENT.TITLE" | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="clientForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.NAME" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.client.name"
        formControlName="name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.TYPE" | translate }}</mat-label>
      <mat-select [(ngModel)]="data.client.type" formControlName="type">
        <mat-option [value]="1">PF</mat-option>
        <mat-option [value]="2">PJ</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.PHONE" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.client.phone"
        formControlName="phone"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.ADDRESS" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.client.address"
        formControlName="address"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.DELIVERY_ADDRESS" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.client.delivery_address"
        formControlName="delivery_address"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.CODE" | translate }}</mat-label>
      <input matInput [(ngModel)]="data.client.code" formControlName="code" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "ADD_CLIENT.DETAILS" | translate }}</mat-label>
      <textarea
        matInput
        [(ngModel)]="data.client.other_details"
        formControlName="other_details"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    {{ "EDIT_CLIENT.CANCEL_BUTTON" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="clientForm.invalid"
  >
    {{ "EDIT_CLIENT.SAVE_BUTTON" | translate }}
  </button>
</mat-dialog-actions>
