@if ("OFFER_PAGE.FIRST_STEP.TITLE" | translate) {
  <div @enterAnimation class="start-wrapper">
    <div class="image-container">
      <img
        class="rounded"
        src="assets/images/warehouse-employee.jpg"
        alt=""
      />
    </div>
    <div class="actions-container">
      <p class="mat-title-large page-title">
        {{ "OFFER_PAGE.FIRST_STEP.TITLE" | translate }}
      </p>
      <button
        mat-flat-button
        class="action-btn start-btn"
        (click)="toCreateOfferPage()"
      >
        {{ "OFFER_PAGE.FIRST_STEP.START_BUTTON" | translate }}
      </button>
      <button
        mat-stroked-button
        class="action-btn products-btn"
        (click)="toProductListPage()"
      >
        {{ "OFFER_PAGE.FIRST_STEP.PRODUCTS" | translate }}
      </button>
    </div>
  </div>
}
