<mat-form-field class="full-width client-search-input pt-2 mb-2">
  <mat-label>{{ "SELECT_CLIENT.TITLE" | translate }}</mat-label>
  <input
    type="text"
    matInput
    [formControl]="clientSearch"
    [matAutocomplete]="auto"
  />
  @if (clientStore.isClientSelected()) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearClient()"
    >
      <mat-icon class="text-black">close</mat-icon>
    </button>
  }
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectClient($event.option.value)"
    [displayWith]="displayClientLabel"
  >
    @for (client of filteredClients(); track client.id) {
      <mat-option [value]="client">
        {{ client.name }} ({{ client.type === 1 ? "PF" : "PJ" }})
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

@if (!clientStore.isClientSelected()) {
  <app-add-client @enterAnimation [withoutForwardButton]="true" />
} @else {
  <div class="d-flex gap-2 mb-2" @enterAnimation>
    <div
      class="card-button rounded shadow border border-white py-2 px-4"
      [ngClass]="{ 'card-button-selected': showClientHistory() }"
      (click)="showClientHistory.set(true); showClientDetails.set(false)"
    >
      {{ "CLIENT_DETAILS.ORDERS" | translate }}
    </div>
    <div
      class="card-button rounded shadow border border-white py-2 px-4"
      [ngClass]="{ 'card-button-selected': showClientDetails() }"
      (click)="showClientHistory.set(false); showClientDetails.set(true)"
    >
      {{ "CLIENT_DETAILS.TITLE" | translate }}
    </div>
  </div>

  @if (showClientDetails()) {
    <app-add-client @enterAnimation [withoutForwardButton]="true" />
  }
  @if (showClientHistory()) {
    <app-client-history class="full-width" />
  }
}
