<div class="auth-wrapper">
  <div class="brand">
    <mat-icon class="brand-icon">forest</mat-icon>
    <span class="brand-name mat-headline-small">TomProdCom</span>
  </div>

  <div class="auth-card">
    <div class="auth-tabs" role="tablist">
      <button
        class="auth-tab"
        role="tab"
        [class.active]="!isSignup()"
        (click)="setMode(false)"
      >
        {{ "AUTH.LOG_IN.ENTER" | translate }}
      </button>
      <button
        class="auth-tab"
        role="tab"
        [class.active]="isSignup()"
        (click)="setMode(true)"
      >
        {{ "AUTH.SIGN_UP.ENTER" | translate }}
      </button>
    </div>

    @if (isSignup()) {
      <app-signup @enterAnimation />
    } @else {
      <app-login @enterAnimation />
    }
  </div>
</div>
